<!--
  (TODO)
  1. Figure out the left status bar: game logo, players' status, personal points...
-->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>The game of things</title>

    <style>
      html, body {
        min-height: 100%;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      /*
      #app {
        border: solid;
        position: absolute;
        right: 1px;
        width: 70%;
        height: 90%;
      }
      */

      #main-panel {
        border: solid;
        position: absolute;
        right: 1px;
        width: 70%;
        height: 90%;
      }

      #status-panel {
        border: solid;
        position: absolute;
        left: 1px;
        width: 29%;
        height: 90%;
      }

      #control-panel {
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
      }

      player-in-room {
        width: 100%;
      }

      #players-in-room {
        position: absolute;
        width: 100%;
        top: 30%;
        left: 1px;
      }

      #players-list {
        padding: 0px;
        left: 50%;
      }

      #players-list div {
        margin-bottom: 2px;
      }

      #cards {
        list-style-type: none; 
        margin: 0; 
        padding: 0;
      }

      #cards li { 
        padding: 5px 10px; 
      }

      .card-container {
        position: relative;
        border: solid;
        height: 50px;
        width: 200px;
        margin-bottom: 2px;
      }

      .lists-container {
        position: relative;
        margin: 0%;
      }

      .avatar-list-container {
        position: absolute;
        border: solid;
        width: 30%;
        top: 1%;
        overflow: hidden;
      }

      .answer-list-container {
        position: absolute;
        border: solid;
        width: 68%;
        top: 1%;
        left: 31%;
        overflow: hidden;
      }

      .flip-list-move {
        transition: transform 1s;
      } 

      .flip-list-enter-active, .flip-list-leave-active {
        transition: all 1s;
      }
      
      .flip-list-enter, .flip-list-leave-to {
        /* .flip-list-leave-active below version 2.1.8 */ 
        opacity: 0;
        transform: translateY(30px);
      }

      .component-fade-enter-active, .component-fade-leave-active {
        transition: opacity .5s ease;
      }
      
      .component-fade-enter, .component-fade-leave-to {
        /* .component-fade-leave-active below version 2.1.8 */ 
        opacity: .0;
      }

      .player-info {
        border: solid;
        width: 80%;
        padding-left: 20px;
        margin-left: 10px; 
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="status-panel">
        <players-in-room
          v-bind:players="playersInRoom"></players-in-room>
      </div>

      <div id="main-panel">
        <transition name="component-fade" mode="out-in">
          <component
            v-bind:is="displayMode"
            v-bind:current-player="currentPlayer"
            v-bind:users="submittedUsers"
            v-bind:answers="submittedAnswers"
            v-bind:cards="submittedCards"></component>
        </transition>

        <div id="control-panel">
        <component
          v-bind:is="inputMode"
          v-bind:guess="guessedResult"
          v-bind:current-player="currentPlayer"
          v-on:submit-answer="submitAnswer"
          v-on:submit-guessed-match="submitGuessedMatch"></component>

        <button
          v-for="mode in gameModes"
          v-bind:key="mode"
          v-on:click="gameModeTransition(mode)">{{ mode }}</button>  
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    // The components for the out-of-round stage:
    // - avatar list          "avatar-list"
    // - answer list          "answer-list"
    // - card display window  "card-window"
    // - out of round status bar  "out-of-round-form"
    Vue.component('avatar-list', {
      props: ['avatar'],
      template: '\
        <div>\
          <p>\
            {{ avatar.username }}\
          </p>\
        </div>\
      '
    });

    Vue.component('answer-list', {
      props: ['answer'],
      template: '\
        <div>\
          <p>\
            {{ answer.useranswer }}\
          </p>\
        </div>\
      '
    });

    Vue.component('out-of-round-form', {
      props: [],
      template: '\
        <div>\
          <p>\
            You\'re out of round!\
          </p>\
        </div>\
      '
    });

    Vue.component('card-window', {
      props: ['cards'],
      template: '\
        <div id="lists-container">\
        \
          <div class="avatar-list-container">\
            <ul id="avatars">\
              <avatar-list\
                v-for="card in cards"\
                v-bind:avatar="card"\
              ></avatar-list>\
            </ul>\
          </div>\
        \
          <div class="answer-list-container">\
            <ul id="answers">\
              <answer-list\
                v-for="card in cards"\
                v-bind:answer="card"\
              ></answer-list>\
            </ul>\
          </div>\
        \
        </div>\
      ',
    });


    // The components for the guessing stage:
    // - avatar list          "guess-avatar-list"
    // - answer list          "guess-answer-list"
    // - answer input form    "guess-form"
    // - card display window  "guess-window"
    Vue.component('guess-avatar-list', {
      props: ['avatar'],
      template: '\
        <div\
          v-on:click=\"globalEmitUsernameSelected\">\
          <p>\
            {{ avatar.username }}\
          </p>\
        </div>\
      ',
      data: function() {
        return {
          username: this.avatar
        }
      },
      methods: {
        globalEmitUsernameSelected: function() {
          this.$root.guessedResult.username = this.avatar.username;
          EventBus.$emit('guessed-username', this.avatar);
        }
      }
    });

    Vue.component('guess-answer-list', {
      props: ['answer'],
      template: '\
        <div\
          v-on:click=\"globalEmitAnswerSelected\">\
          <p>\
            {{ answer.useranswer }}\
          </p>\
        </div>\
      ',
      data: function() {
        return {
          useranswer: this.answer
        }
      },
      methods: {
        globalEmitAnswerSelected: function() {
          this.$root.guessedResult.useranswer = this.answer.useranswer;
          EventBus.$emit('guessed-answer', this.answer);
        }
      }
    });

    Vue.component('guess-form', {
      props: ['guess'],
      template: '\
        <div>\
          <p>\
            <span>\
              {{ guess.username }} said {{ guess.useranswer }}\
            </span>\
            <button v-on:click=\"$emit(\'submit-guessed-match\')\">\
              Match\
            </button>\
          </p>\
        </div>\
      ',
    });

    Vue.component('guess-window', {
      props: ['users', 'answers'],
      template: '\
        <div id="lists-container">\
        \
          <div class="avatar-list-container">\
            <transition-group name=\"flip-list\" tag=\"ul\">\
                <guess-avatar-list\
                  v-for="user in users"\
                  v-bind:avatar="user"\
                  v-bind:key="user.username"\
                ></guess-avatar-list>\
            </transition-group>\
          </div>\
        \
          <div class="answer-list-container">\
            <transition-group name=\"flip-list\" tag=\"ul\">\
              <guess-answer-list\
                v-for="answer in answers"\
                v-bind:answer="answer"\
                v-bind:key="answer.useranswer"\
              ></guess-answer-list>\
            </transition-group>\
          </div>\
        \
        </div>\
      ',
    });


    // The components for the answering stage
    // - avatar list          "avatar-list"
    // - answer list          "invisible-answer-list"
    // - card display window  "answer-window"
    // - answer input form    "input-form"
    Vue.component('invisible-answer-list', {
      props: ['card', 'current-player'],
      template: '\
        <div>\
          <p>\
            {{ displayedAnswer }}\
          </p>\
        </div>\
      ',
      computed: {
        displayedAnswer: function() {
          // console.log(this.card);
          return this.card.username == this.currentPlayer.username 
            ? this.card.useranswer : '?';
        }
      }
    });

    Vue.component('answer-window', {
      props: ['cards', 'current-player'],
      template: '\
        <div id="lists-container">\
        \
          <div class="avatar-list-container">\
            <ul id="avatars">\
              <avatar-list\
                v-for="card in cards"\
                v-bind:avatar="card"\
              ></avatar-list>\
            </ul>\
          </div>\
        \
          <div class="answer-list-container">\
            <ul id="answers">\
              <invisible-answer-list\
                v-for="card in cards"\
                v-bind:card="card"\
                v-bind:current-player="currentPlayer"\
              ></invisible-answer-list>\
            </ul>\
          </div>\
        \
        </div>\
      ',
    });

    Vue.component('input-form', {
      props: ['input_msg', 'current-player'],
      template: '\
        <div>\
          <br>\
          <p>\
            {{ user.username }}\'s answer for the question is {{ user.userinput }}\
          </p>\
          <input id=\"username-input\" v-model=\"user.username\">\
          <input id=\"answer-input\" v-model=\"user.userinput\">\
          <button v-on:click=\"$emit(\'submit-answer\', user)\">\
            Enter\
          </button>\
        </div>\
      ',
      data: function() {
        return {
          user: {
            username: this.currentPlayer.username,
            userinput: ''
          }
        };
      }
    });


    // The components for the left status panel
    Vue.component('player-info', {
      props: ['player'],
      template: '\
        <div class="player-info">\
          <p>\
            Player: {{ player.username }}\
          </p>\
        </div>\
      '
    });

    Vue.component('players-in-room', {
      props: ['players'],
      template: '\
        <div id="players-in-room">\
          <ul id="players-list">\
            <player-info\
              v-for="p in players"\
              v-bind:player="p"\
            ></player-info>\
          </ul>\
        </div>\
      '
    });


    // for frontend testing, current player info
    let socketDataForCurrentPlayer = {
      username: 'current player',
      userid: '123456789'
    }

    // The event bus handling the global events 
    const EventBus = new Vue();

    // The top level component: app
    let app = new Vue({
      el: '#app',
      data: {
        // current player
        currentPlayer: {
          // assume that the players are identified by their names
          username: socketDataForCurrentPlayer.username, 
          // or their ids assigned by backend
          userid: socketDataForCurrentPlayer.userid, 
        },
        // the players' info in current room
        playersInRoom: [
          // an array of player objects
          {username: 'player1'},
          {username: 'player2'},
          {username: 'player3'},
          {username: 'from server 1'},
          {username: 'from server 2'},
          {username: 'current player'},
        ],
        // the user infos for having submitted answer
        submittedCards: [
          {
            username: 'player1',
            useranswer: 'answer1'
          },
          {
            username: 'player2',
            useranswer: 'answer2'
          },
          {
            username: 'player3',
            useranswer: 'answer3'
          },
        ],
        // separated two lists for shuffling in guessing stage
        submittedUsers: [
          {username: 'player1'},
          {username: 'player2'},
          {username: 'player3'},
        ],
        // the answers of the users
        submittedAnswers: [
          {useranswer: 'answer1'},
          {useranswer: 'answer2'},
          {useranswer: 'answer3'},
        ],
        // current mode of the game, default (initial) is answering
        currentGameMode: 'answer',
        // game mode: currently there are two: answering and guessing
        gameModes: [
          'answer',
          'guess',
          'out of round'
        ],
        // the results of the guessing (name matches answer)
        guessedResult: {
          username: '',
          useranswer: '',
        },
        input_msg: ''
      },
      methods: {
        submitAnswer: function(answer) {
          console.log(answer);
          this.submittedUsers.push({username: answer.username});
          this.submittedAnswers.push({useranswer: answer.userinput});
          this.submittedCards.push({
            username: answer.username,
            useranswer: answer.userinput
          })
        },
        submitGuessedMatch: function() {
          let username = this.guessedResult.username;
          let useranswer = this.guessedResult.useranswer;
          let removedSubmittedCards = [];
          let matched = false;

          console.log(this.guessedResult);

          this.submittedCards = this.submittedCards.filter(function(card) {
            if((card.username !== username) || (card.useranswer !== useranswer)) {
              return true;
            } else {
              matched = true;
              return false;
            }
          });

          if(matched) {
            this.submittedUsers = this.submittedUsers.filter(function(card) {
              return card.username !== username;
            });

            let hasRemoved = false;
            this.submittedAnswers = this.submittedAnswers.filter(function(card) {
              if(!hasRemoved && card.useranswer === useranswer) {
                hasRemoved = true;
                return false;
              } else {
                return true;
              }
            });
          }
        },
        gameModeTransition: function(mode) {
          if(mode === 'guess') {
            this.shuffle();
          }
          this.currentGameMode = mode;
        },
        shuffle: function() {
          for(let ii = this.submittedAnswers.length - 1; ii > 0; ii--) {
            let randomIndex = Math.floor(Math.random() * ii);

            let temp = this.submittedAnswers[ii];
            Vue.set(this.submittedAnswers, ii, this.submittedAnswers[randomIndex]);
            Vue.set(this.submittedAnswers, randomIndex, temp);
          }
        }
      },
      computed: {
        inputMode: function() {
          switch(this.currentGameMode) {
            case 'answer': 
              return 'input-form';
            case 'guess':
              return 'guess-form';
            case 'out of round':
              return 'out-of-round-form';
            default: 
              return 'unknown: currentGameMode error';
          }
        },
        displayMode: function() {
          switch(this.currentGameMode) {
            case 'answer': 
              return 'answer-window';
            case 'guess':
              return 'guess-window';
            case 'out of round':
              return 'card-window';
            default: 
              return 'unknown: currentGameMode error';
          }
        }
      }
    }); 

    EventBus.$on('guessed-username', function(username) {
      console.log(`received user selected name ${username.username}`);
      app.guessedResult.username = username.username;
    });

    EventBus.$on('guessed-answer', function(answer) {
      console.log(`received user selected name ${answer.useranswer}`);
      app.guessedResult.useranswer = answer.useranswer;
    });

    // test something like server object which is outside the Vue component
    let socketdata1 = {
      username: 'from server 1',
      useranswer: 'from server answer 1'
    }

    let socketdata2 = {
      username: 'from server 2',
      useranswer: 'from server answer 2'
    }

    // pretend to receiving data from backend
    app.submittedUsers
      .push({username: socketdata1.username});

    app.submittedAnswers
      .push({useranswer: socketdata1.useranswer});

    app.submittedUsers
      .push({username: socketdata2.username});

    app.submittedAnswers
      .push({useranswer: socketdata2.useranswer});
    
    app.submittedCards
      .push({
        username: socketdata1.username,
        useranswer: socketdata1.useranswer
      });
    
    app.submittedCards
      .push({
        username: socketdata2.username,
        useranswer: socketdata2.useranswer
      });

  </script>
</html>