<!--
  (TODO)
  1. Figure out the interfaces for different roles of players.
     - invisible cards for other players in answering stage  <-- finished
     - when someone guessed a correct match, remove that one in two lists
  
  2. FIgure out the left status bar: game logo, players' status, personal points...
-->


<!--
  (Basic thoughts for front-end design)

  In-game interface design:
  +-----------------------------------------------+
  |             |                                 |
  |             |                                 |
  |  Game Logo  |                                 |    <---- The list for players' answers
  |Players Info |         Players' answers        |          Avatars are displayed on the left, answers to the right
  |             |                                 |
  |             |                                 |
  |  Personal   |_________________________________|                                
  |   Points    | > ......                 | ==>> |    <---- Players' answer input (for 3 of 4 players) 
  +-----------------------------------------------+          / confirm matching (answers to players) (for the rest one player)


  Game process:
    Players role: 4 players, one for matching answers, the others fill in the sentence in the card
    For each round, the process is divided into two stage:

      The first stage: those 3 players enter the answers and then display the answers on the screen;
      the answers are visible for those 3 players, invisible for the one who matches the answers to players.
      When all 3 players submit answers, goto teh second stage.

      The second stage: The answers' order are shuffled. Then the answers become visible to everyone,
      that one player matches the answers to players (in some way, I'm still thinking about...) and after that
      compare the matching result to the correct answers. 

  Front Back end communication:
    During the first stage, one player submit an answer, frontend shall emit an event that send an object
    {playerID: '...', answer: '...'} to backend, backend stores that object into a list []. When there are 
    three object in that list, backend emits an event to frontend to indicate that it's time for second stage.

    During the second stage, the player match the answers and then send an list [{playerID, answer}, {playerID, answer}, ...]
    and compare to the previous list stored in the back end. 

  Some ideas for "Room":
    Either static or dynamic way is fine, depends on the backend implementation. Here is a little bit my ideas:
      Maintain a counter which works as a roomid generator: start at 1.
        If someone create a room, assign current id to that room and the counter increment one. 
      Maintain a list to store each room's information, in the same time, the index of the list is the roomid
      [{
        roomid: ...,
        owner: ..., // owner's id
        players: [],
        players_answers: [], // as mentioned in the first stage
        player_matched: [], // as mentioned in the second stage
        status: ..., // waiting-players || ingame 
      }]
     
  Temporary goals:
    Mar. 5th:  frontend and backend basic functionalities for one round
    Mar. 7th:  refine & valid frontend-backend data transforming
    Mar. 12nd or 14th: implement mulitple rounds & refine user interface
    Mar. 19th:  testing and validation


-->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>The game of things</title>

    <style>
      #cards {
        list-style-type: none; 
        margin: 0; 
        padding: 0;
      }

      #cards li { 
        padding: 5px 10px; 
      }

      .card-container {
        position: relative;
        border: solid;
        height: 50px;
        width: 200px;
        margin-bottom: 2px;
      }

      .lists-container {
        position: relative;
        margin: 0%;
      }

      .avatar-list-container {
        position: relative;
        border: solid;
        width: 20%;
        top: 1%;
        overflow: hidden;
      }

      .answer-list-container {
        position: absolute;
        border: solid;
        width: 50%;
        top: 1%;
        left: 21%;
        overflow: hidden;
      }

      .flip-list-move {
        transition: transform 1s;
      } 

      .component-fade-enter-active, .component-fade-leave-active {
        transition: opacity .5s ease;
      }
      
      .component-fade-enter, .component-fade-leave-to
        /* .component-fade-leave-active below version 2.1.8 */ {
        opacity: .0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <transition name="component-fade" mode="out-in">
        <component
          v-bind:is="displayMode"
          v-bind:current-player="currentPlayer"
          v-bind:users="submittedUsers"
          v-bind:answers="submittedAnswers"
          v-bind:cards="submittedCards"></component>
      </transition>
      
      <component
        v-bind:is="inputMode"
        v-bind:guess="guessedResult"
        v-bind:current-player="currentPlayer"
        v-on:submit-answer="submitAnswer"></component>

      <button
        v-for="mode in gameModes"
        v-bind:key="mode"
        v-on:click="gameModeTransition(mode)">{{ mode }}</button>
    </div>
  </body>
  <script type="text/javascript">
    // The components for the out-of-round stage:
    // - avatar list          "avatar-list"
    // - answer list          "answer-list"
    // - card display window  "card-window"
    // - out of round status bar  "out-of-round-form"
    Vue.component('avatar-list', {
      props: ['avatar'],
      template: '\
        <div>\
          <p>\
            {{ avatar.username }}\
          </p>\
        </div>\
      '
    });

    Vue.component('answer-list', {
      props: ['answer'],
      template: '\
        <div>\
          <p>\
            {{ answer.useranswer }}\
          </p>\
        </div>\
      '
    });

    Vue.component('out-of-round-form', {
      props: [],
      template: '\
        <div>\
          <p>\
            You\'re out of round!\
          </p>\
        </div>\
      '
    });

    Vue.component('card-window', {
      props: ['cards'],
      template: '\
        <div id="lists-container">\
        \
          <div class="avatar-list-container">\
            <ul id="avatars">\
              <avatar-list\
                v-for="card in cards"\
                v-bind:avatar="card"\
              ></avatar-list>\
            </ul>\
          </div>\
        \
          <div class="answer-list-container">\
            <ul id="answers">\
              <answer-list\
                v-for="card in cards"\
                v-bind:answer="card"\
              ></answer-list>\
            </ul>\
          </div>\
        \
        </div>\
      ',
    });


    // The components for the guessing stage:
    // - avatar list          "guess-avatar-list"
    // - answer list          "guess-answer-list"
    // - answer input form    "guess-form"
    // - card display window  "guess-window"
    Vue.component('guess-avatar-list', {
      props: ['avatar'],
      template: '\
        <div\
          v-on:click=\"globalEmitUsernameSelected\">\
          <p>\
            {{ avatar.username }}\
          </p>\
        </div>\
      ',
      data: function() {
        return {
          username: this.avatar
        }
      },
      methods: {
        globalEmitUsernameSelected: function() {
          this.$root.guessedResult.username = this.avatar.username;
          EventBus.$emit('guessed-username', this.avatar);
        }
      }
    });

    Vue.component('guess-answer-list', {
      props: ['answer'],
      template: '\
        <div\
          v-on:click=\"globalEmitAnswerSelected\">\
          <p>\
            {{ answer.useranswer }}\
          </p>\
        </div>\
      ',
      data: function() {
        return {
          useranswer: this.answer
        }
      },
      methods: {
        globalEmitAnswerSelected: function() {
          this.$root.guessedResult.useranswer = this.answer.useranswer;
          EventBus.$emit('guessed-answer', this.answer);
        }
      }
    });

    Vue.component('guess-form', {
      props: ['guess'],
      template: '\
        <div>\
          <p>\
            {{ guess.username }} said {{ guess.useranswer }}\
          </p>\
        </div>\
      ',
    });

    Vue.component('guess-window', {
      props: ['users', 'answers'],
      template: '\
        <div id="lists-container">\
        \
          <div class="avatar-list-container">\
            <ul id="avatars">\
              <guess-avatar-list\
                v-for="user in users"\
                v-bind:avatar="user"\
              ></guess-avatar-list>\
            </ul>\
          </div>\
        \
          <div class="answer-list-container">\
            <transition-group name=\"flip-list\" tag=\"ul\">\
              <guess-answer-list\
                v-for="answer in answers"\
                v-bind:answer="answer"\
                v-bind:key="answer.useranswer"\
              ></guess-answer-list>\
            </transition-group>\
          </div>\
        \
        </div>\
      ',
    });


    // The components for the answering stage
    Vue.component('invisible-answer-list', {
      props: ['card', 'current-player'],
      template: '\
        <div>\
          <p>\
            {{ displayedAnswer }}\
          </p>\
        </div>\
      ',
      computed: {
        displayedAnswer: function() {
          // console.log(this.card);
          return this.card.username == this.currentPlayer.username 
            ? this.card.useranswer : '?';
        }
      }
    });

    Vue.component('answer-window', {
      props: ['cards', 'current-player'],
      template: '\
        <div id="lists-container">\
        \
          <div class="avatar-list-container">\
            <ul id="avatars">\
              <avatar-list\
                v-for="card in cards"\
                v-bind:avatar="card"\
              ></avatar-list>\
            </ul>\
          </div>\
        \
          <div class="answer-list-container">\
            <ul id="answers">\
              <invisible-answer-list\
                v-for="card in cards"\
                v-bind:card="card"\
                v-bind:current-player="currentPlayer"\
              ></invisible-answer-list>\
            </ul>\
          </div>\
        \
        </div>\
      ',
    });

    Vue.component('input-form', {
      props: ['input_msg', 'current-player'],
      template: '\
        <div>\
          <br>\
          <p>\
            {{ user.username }}\'s answer for the question is {{ user.userinput }}\
          </p>\
          <input id=\"username-input\" v-model=\"user.username\">\
          <input id=\"answer-input\" v-model=\"user.userinput\">\
          <button v-on:click=\"$emit(\'submit-answer\', user)\">\
            Enter\
          </button>\
        </div>\
      ',
      data: function() {
        return {
          user: {
            username: this.currentPlayer.username,
            userinput: ''
          }
        };
      }
    });


    // for frontend testing, current player info
    let socketDataForCurrentPlayer = {
      username: 'current player',
      userid: '123456789'
    }

    // The event bus handling the global events 
    const EventBus = new Vue();

    // The top level component: app
    let app = new Vue({
      el: '#app',
      data: {
        // current player
        currentPlayer: {
          // assume that the players are identified by their names
          username: socketDataForCurrentPlayer.username, 
          // or their ids assigned by backend
          userid: socketDataForCurrentPlayer.userid, 
        },
        // the players' info in current room
        playersInRoom: [
          // an array of player objects
        ],
        // the user infos for having submitted answer
        submittedCards: [
          {
            username: 'player1',
            useranswer: 'answer1'
          },
          {
            username: 'player2',
            useranswer: 'answer2'
          },
          {
            username: 'player3',
            useranswer: 'answer3'
          },
        ],
        // separated two lists for shuffling in guessing stage
        submittedUsers: [
          {username: 'play1'},
          {username: 'play2'},
          {username: 'play3'},
        ],
        // the answers of the users
        submittedAnswers: [
          {useranswer: 'answer1'},
          {useranswer: 'answer2'},
          {useranswer: 'answer3'},
        ],
        // current mode of the game, default (initial) is answering
        currentGameMode: 'answer',
        // game mode: currently there are two: answering and guessing
        gameModes: [
          'answer',
          'guess',
          'out of round'
        ],
        // the results of the guessing (name matches answer)
        guessedResult: {
          username: '',
          useranswer: '',
        },
        input_msg: ''
      },
      methods: {
        submitAnswer: function(answer) {
          console.log(answer);
          this.submittedUsers.push({username: answer.username});
          this.submittedAnswers.push({useranswer: answer.userinput});
          this.submittedCards.push({
            username: answer.username,
            useranswer: answer.userinput
          })
        },
        gameModeTransition: function(mode) {
          if(mode === 'guess') {
            this.shuffle();
          }
          this.currentGameMode = mode;
        },
        shuffle: function() {
          for(let ii = this.submittedAnswers.length - 1; ii > 0; ii--) {
            let randomIndex = Math.floor(Math.random() * ii);

            let temp = this.submittedAnswers[ii];
            Vue.set(this.submittedAnswers, ii, this.submittedAnswers[randomIndex]);
            Vue.set(this.submittedAnswers, randomIndex, temp);
          }
        }
      },
      computed: {
        inputMode: function() {
          switch(this.currentGameMode) {
            case 'answer': 
              return 'input-form';
            case 'guess':
              return 'guess-form';
            case 'out of round':
              return 'out-of-round-form';
            default: 
              return 'unknown: currentGameMode error';
          }
        },
        displayMode: function() {
          switch(this.currentGameMode) {
            case 'answer': 
              return 'answer-window';
            case 'guess':
              return 'guess-window';
            case 'out of round':
              return 'card-window';
            default: 
              return 'unknown: currentGameMode error';
          }
        }
      }
    }); 

    EventBus.$on('guessed-username', function(username) {
      console.log(`received user selected name ${username.username}`);
      app.guessedResult.username = username.username;
    });

    EventBus.$on('guessed-answer', function(answer) {
      console.log(`received user selected name ${answer.useranswer}`);
      app.guessedResult.useranswer = answer.useranswer;
    });

    // test something like server object which is outside the Vue component
    let socketdata1 = {
      username: 'from server 1',
      useranswer: 'from server answer 1'
    }

    let socketdata2 = {
      username: 'from server 2',
      useranswer: 'from server answer 2'
    }

    // pretend to receiving data from backend
    app.submittedUsers
      .push({username: socketdata1.username});

    app.submittedAnswers
      .push({useranswer: socketdata1.useranswer});

    app.submittedUsers
      .push({username: socketdata2.username});

    app.submittedAnswers
      .push({useranswer: socketdata2.useranswer});
    
    app.submittedCards
      .push({
        username: socketdata1.username,
        useranswer: socketdata1.useranswer
      });
    
    app.submittedCards
      .push({
        username: socketdata2.username,
        useranswer: socketdata2.useranswer
      });

  </script>
</html>